@import "tailwindcss";

@import "@fontsource/quicksand/300.css";
@import "@fontsource/quicksand/400.css";
@import "@fontsource/quicksand/500.css";
@import "@fontsource/quicksand/600.css";
@import "@fontsource/quicksand/700.css";

@import "@fontsource/inter/100.css";
@import "@fontsource/inter/200.css";
@import "@fontsource/inter/300.css";
@import "@fontsource/inter/400.css";
@import "@fontsource/inter/500.css";
@import "@fontsource/inter/600.css";
@import "@fontsource/inter/700.css";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-serif: "quicksand", serif;

  --color-bg-0: var(--bg-0);
  --color-bg-1: var(--bg-1);
  --color-bg-2: var(--bg-2);

  --color-fg-0: var(--fg-0);
  --color-fg-1: var(--fg-1);

  --color-primary: var(--primary);
  --color-primary-fg: var(--primary-fg);
}

:root {
  --bg-0: #faf9f6;
  --bg-1: #ffffff;
  --bg-2: #e5e7eb;

  --fg-0: #101828;
  --fg-1: #475467;

  --primary: #101828;
  --primary-fg: #ffffff;

  &.dark {
    /* Deep navy blue matching the bottom of your posters */
    --bg-0: #050b14;
    /* Slightly lighter card background */
    --bg-1: #0a1628;
    /* Border color for visibility without overwhelming */
    --bg-2: #1a2c4d;

    --fg-0: #f8fafc;
    --fg-1: #94a3b8;

    /* Vibrant blue from the 'Win with Ai' text */
    --primary: #2563eb;
    --primary-fg: #ffffff;
  }

  @media (prefers-color-scheme: dark) {
    &:not(.light) {
      --bg-0: #050b14;
      --bg-1: #0a1628;
      --bg-2: #1a2c4d;

      --fg-0: #f8fafc;
      --fg-1: #94a3b8;

      --primary: #2563eb;
      --primary-fg: #ffffff;
    }
  }
}

::selection {
  background: var(--fg-0);
  color: var(--bg-0);
}

::-moz-selection {
  background: var(--fg-0);
  color: var(--bg-0);
}

html {
  scroll-behavior: smooth;
}

html:active-view-transition {
  scroll-behavior: auto;
}

body {
  background-color: var(--bg-0);
  color: var(--fg-0);
  font-family: var(--font-sans);
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(main) {
  transform-origin: top center;
  animation:
    300ms cubic-bezier(0.4, 0, 0.2, 1) both fade-out,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-down,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both scale-down;
  z-index: 1;
}

::view-transition-new(main) {
  transform-origin: top center;
  animation: 400ms cubic-bezier(0.2, 0, 0.2, 1) both fade-in;
  /* 400ms cubic-bezier(0.2, 0, 0.2, 1) both slide-up; */
  z-index: 2;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scale-down {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.98);
  }
}

@keyframes blur-out {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-60px);
  }
}

@keyframes slide-up {
  from {
    transform: translateY(60px);
  }
  to {
    transform: translateY(0);
  }
}
