---
import type { AboutContent } from "../types";

interface Props {
  content: AboutContent;
}

const { content } = Astro.props;
---

<section id="about" class="bg-bg-0 mt-16 md:mt-24">
  <div class="px-4 md:min-h-[75vh] flex flex-col">
    <div class="grid md:grid-cols-12 gap-12 md:gapy-y-0 flex-grow items-start">
      <div class="md:col-span-2 md:h-full z-10 sticky top-10 md:top-0">
        <h2
          class="font-bold font-sans tracking-wide text-fg-0
            text-2xl py-2 bg-bg-0/75 backdrop-blur-sm w-full border-b md:border-none border-bg-2/50
            md:text-4xl md:bg-transparent md:sticky md:top-24 md:py-0"
        >
          Our Mission
        </h2>
      </div>

      <div
        class="md:col-span-10 h-full flex flex-col justify-center pt-4 md:pt-0 pb-16 md:pb-24"
      >
        <div
          class="flex flex-col justify-center h-max italic text-fg-0 leading-relaxed
                 text-base space-y-6
                 md:text-2xl md:space-y-10"
        >
          <p>{content.title}</p>
          {content.paragraphs.map((p) => <p>{p}</p>)}
        </div>
      </div>
    </div>
  </div>
</section>
