---
import ThemeToggle from "./ThemeToggle.astro";
import type { Link } from "../types";

interface Props {
  links: Link[];
}

const { links } = Astro.props;

// Group links by their 'group' property
const groups: Record<string, Link[]> = {};
links.forEach((link) => {
  if (link.position === "footer") {
    const group = link.group || "Other";
    if (!groups[group]) groups[group] = [];
    groups[group].push(link);
  }
});

// Convert to array for iteration
const groupedLinks = Object.entries(groups)
  .map(([title, items]) => ({
    title,
    links: items.sort((a, b) => a.priority - b.priority),
  }))
  .sort((a, b) => b.links.length - a.links.length); // Sort columns by size
---

<footer
  class="bg-gradient-to-br from-bg-1/70 to-bg-0 overflow-hidden w-full transition-colors duration-300 border-t border-bg-2"
>
  <div class="py-12 flex flex-row justify-between gap-4 px-4 w-full">
    <!--EMPTY DIV TO MANAGE SPACING -->
    <div class="flex-shrink-0">
      <!--<img
        src="/logo.png"
        alt="NSDC MEC Logo"
        width="100"
        height="100"
        class="h-24 w-auto"
      /> -->
    </div>

    <!--CONNECT & RESOURCES COLUMN -->
    <div class="flex flex-wrap justify-end gap-x-10 gap-y-12">
      {
        groupedLinks.map((column) => (
          <div class="flex flex-col space-y-3 items-end w-max">
            <h3 class="font-semibold font-sans tracking-wider uppercase text-sm text-fg-0 text-right">
              {column.title}
            </h3>
            <div class="flex flex-col space-y-2 w-full items-end">
              {column.links.map((link) => (
                <a
                  href={link.url}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="relative w-fit group text-fg-1 hover:text-fg-0 transition-colors duration-300 font-sans"
                  title={link.label}
                >
                  <span>{link.label}</span>
                  <span class="absolute bottom-0 right-0 h-[1px] w-full bg-fg-0 transform scale-x-0 origin-right transition-transform duration-300 ease-out group-hover:scale-x-100 group-hover:origin-left" />
                </a>
              ))}
            </div>
          </div>
        ))
      }
    </div>
  </div>

  <div class="relative h-1 w-full">
    <div
      class="absolute bottom-4 left-4 md:left-8 md:bottom-8 flex flex-col space-y-4 items-left md:justify-center"
    >
      <!--LOGO -->
      <div class="flex-shrink-0">
        <img
          src="/logo.png"
          alt="NSDC MEC Logo"
          width="100"
          height="100"
          class="h-24 w-auto"
        />
      </div>

      <!--THEME TOGGLER-->
      <ThemeToggle />

      <!--COPYRIGHT-->
      <div class="text-sm text-fg-1 font-sans">
        &copy; {new Date().getFullYear()} NSDC MEC
      </div>
    </div>
  </div>
</footer>
