
<div class="fixed inset-0 bg-black flex items-center justify-center z-[100]">
  <div class="flex items-center justify-center space-x-2">
    <div class="w-5 h-5 bg-white animate-shuffle-1"></div>
    <div class="w-5 h-5 bg-white animate-shuffle-2"></div>
    <div class="w-5 h-5 bg-white animate-shuffle-3"></div>
    <div class="w-5 h-5 bg-white animate-shuffle-4"></div>
    <div class="w-5 h-5 bg-white animate-shuffle-5"></div>
  </div>
</div>
